// app global css in SCSS form

body{
  font-family: 'Raleway' !important;
}

body.home{
}
body.team{
  background: linear-gradient(180deg, #178598 0%, #a2e2eb 100%)
}

body.demo{
  overflow: hidden;
}

li{
  list-style-type: none;
}
